$i50:#e8eaf6;
$i100:#c5cae9;
$i200:#9fa8da;
$i300:#7986cb;
$i400:#5c6bc0;
$i500:#3f51b5;
$i600:#3949ab;
$i700:#303f9f;
$i800:#283593;
$i900:#1a237e;
$iA100:#8c9eff;
$iA200:#536dfe;
$iA400:#3d5afe;
$iA700:#304ffe;