@import 'colors.scss';

.items{
  width:90%;
  height:26em;
  margin: 1em;
  overflow-y: scroll;
  // border-style: solid;
  // border-width: thin;
  // border-color: $i300;
  // background-color: $i50;

  &__item{
    display:inline-block;
    margin: 0.2em;
    border-style: solid;
    border-width: thin;
    border-color:$i200;
    // background-color: $i200;
    // opacity: 1;
    width:95%;
    // height: 3em;
    &__album{
      margin : .5em .5em .5em .5em;
    }
    // border-radius: .5em;
    &__title{
      margin : .1em .5em .5em .5em;
      // color: white;
      // text-align: center;
      // vertical-align: middle;
      // display:table-cell;
    }
  }
}